# Node.js
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Database files
*.sql
*.sqlite

# Environment variables
.env

# Coverage directory used by testing tools
coverage



# Misc
.DS_Store
*.pem
*.p12
*.crt
*.key

# Ignore VSCode specific files
.vscode

# Ignore IDE specific files
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
